html, body {
    margin: 0;
    padding: 0;
  }  

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  ul{
    margin: 0;
    padding: 0;
  }

#title {
  padding-left: 20px;
}


header{
    background: #000000;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #d4e612 3px solid;
  }
  
  header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  
  header #navigation{
    float: left;
  }
  
  header #navigation h1{
    margin: 0;
  }
  
  header nav{
    float: right;
    margin-top: 10px;
  }
  
  header .highlight, header .current a{
    color: #d4e612;
    font-weight: bold;
  }
  
  header a:hover{
    color: #cccccc;
    font-weight: bold;
  }

#showcase {
    min-height: 450px;
    padding-top: 350px;
    background:url('../images/front.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    color: #000000;
  }
  
  #showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
  }
  
  #showcase p{
    font-size: 20px;
  }

  #info{
    padding: 15px;
    color: #d4e612;
    background: #000000;
    border-top: #d4e612 3px solid;
  }
  
  #info h1{
    text-align: center;
  }

  .time{
    padding: 15px;
    color: #d4e612;
    background: #000000;
    border-top:#d4e612 3px solid ;
  }

  .time h1{
    text-align: center;
  }

#movie1, #movie2, #movie3 {
  width: 65%;
}

footer{
    padding: 20px;
    color: #d4e612;
    background-color:#000000;
    text-align: center;
    border-top: #d4e612 3px solid;
  }

  * {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    padding: 10px;
    flex: 30%;
  }
  
  .flex-item-middle {
    padding: 10px;
    flex: 30%;
  }
  
  .flex-item-right {
    padding: 10px;
    flex: 30%;
  }
  
  .flex-item-left2 {
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right2 {
    padding: 10px;
    flex: 50%;
  }
  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }